<form action="/students" method="post">
  <!-- First name entry field -->
  <label for="first-name-field">First Name:</label>
  <input id="first-name-field" type="text" name="first_name" >

  <!-- last name entry field -->
  <label for="last-name-field">Last Name:</label>
  <input id="last-name-field" type="text" name="last_name">

  <!-- dropdown for houses -->
  <label for="house_select">Select House:</label>
  <select name="house_id" id="house_select">
    <option value="1">Gryffindor</option>
    <option value="2">Hufflepuff</option>
    <option value="3">Ravenclaw</option>
    <option value="4">Slytherin</option>
  </select>

  <!-- age entry field -->
  <label for="age">Age:</label>
  <input id="age" type="number" name="age">

  <!-- submit button -->
  <input type="submit" value="Enroll Student">
</form>
